#canvas{
    width: 595px;
    height: 842px;
    background-image: url("./1.png");
    position: relative;
}
.numero{
    position: absolute;
}

#n1{
    right: 510px;
    bottom: 631px;
}
#n2{
    right: 490px;
    bottom: 562px;
}
#n3{
    right: 366px;
    bottom: 631px;
}
#n4{
    right: 344px;
    bottom: 562px;
}

#n5{
    right: 222px;
    bottom: 631px;
}
#n6{
    right: 198px;
    bottom: 562px;
}
#n7{
    right: 78px;
    bottom: 631px;
}
#n8{
    right: 52px;
    bottom: 562px;
}
#n9{
    right: 510px;
    bottom: 355px;
}
#n10{
    right: 490px;
    bottom: 287px;
}
#n11{
    right: 366px;
    bottom: 355px;
}
#n12{
    right: 344px;
    bottom: 287px;
}
#n13{
    right: 222px;
    bottom: 355px;
}
#n14{
    right: 198px;
    bottom: 287px;
}
#n15{
    right: 78px;
    bottom: 355px;
}
#n16{
    right: 52px;
    bottom: 287px;
}
#n17{
    right: 510px;
    bottom: 79px;
}
#n18{
    right: 490px;
    bottom: 12px;
}
#n19{
    right: 361px;
    bottom: 79px;
}
#n20{
    right: 340px;
    bottom: 10px;
}
#n21{
    right: 214px;
    bottom: 79px;
}
#n22{
    right: 195px;
    bottom: 10px;
}
#n23{
    right: 73px;
    bottom: 78px;
}
#n24{
    right: 47px;
    bottom: 10px;
}